dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
*.zip
screenshot*.png
log.txt
*.sublime-project
# Click-Once directory
publish/
# Publish Web Output
*.Publish.xml
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

*.code-workspace
package-lock\.json

components.d.ts

\.editorconfig
*.pubxml
src/components.d.ts