.date-overdue {
  color: red;
}

.date-under {}

.days-zero {
  color: red;
  font-size: large;
}

.x-hide {
  display: none !important;
}

.tl-table {
  overflow-y: auto;
}

.workitem {
  font-weight: 400;
}

.owner {
  font-weight: 100;
}

.trow {
  margin: 2px;
}

.tcell {
  padding: 4px;
}