.word-highlight-1 {
  background-color: lightyellow;
}

.word-highlight-2 {
  background-color: lightgreen;
}

.word-highlight-3 {
  background-color: lightpink;
}

.word-highlight-4 {
  background-color: lightcoral;
}

.word-highlight-5 {
  background-color: beige;
}