@tailwind base;
@tailwind components;
@tailwind utilities;


#adox-colors {
    display: flex;
  }

  .adox-btn {
    width: 80px;
  }

  .adox-id {
    padding-top: 10px;
    font-size: x-small;
    bottom: -30px;
  }

  .adox-right {
    right: 10px;
    position: absolute;
    text-align: right;
  }

  .button-8 {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: 30px;
    padding-top: 5px;
  }

  .button-8:hover,
  .button-8:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }

  .button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }

  .button-8:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }

  #queryId {
    width: 80px;
    font-size: x-small;
    border: 1px solid #ccc;
    border-radius: 0;
  }